<div class="container about-container">
  <section class="about-content">
    <div class="col">
      <h1 class="title">SpeedAisle</h1>
      <h3>The most efficient way to get your groceries</h3>
      <hr />
      <p>
        <b><i>SpeedAisle</i></b> was created for the 
        <a href='https://makers.tech/become/apprentice/'>Makers Apprenticeship</a> 
        September 2021 cohort final project over two weeks period.
      </p>
      <p>
        The project aims to solve the issue of terrible shopping lists that make picking up your 
        groceries a daunting experience. Most other lists will stack all the items on top of 
        each other in a checklist, in whatever order you typed them. 
        <b><i>SpeedAisle</i></b> lets you add your items to the categories you would find 
        in your local store, meaning that you can pick up all products you need 
        when you're in the place you'll find them in the store! 
        No more having to go back to around the shop when you realise you've forgotten 
        something at the till.
      </p>
      <p>
        Maybe you prefer getting your Household items first because those things don't get crushed
        at the bottom of your trolley? <b><i>SpeedAisle</i></b> also allows you to organise your 
        categories into whatever order you prefer and lets you save that order to the specific store 
        you're shopping at.
      </p>
    </div>
  </section>
  <hr>
  <section class='about-team'>
    <h2>Team</h2>
    <div class='row'>
      <div class='col-xl-3'>
          <h5>Alex Nakov</h5>
          <b><i>Apprenticeship Placement: </i></b><a href='https://about.google/' target='_blank'>Google</a>
          <img class='about-image' src="https://avatars.githubusercontent.com/u/59810189?v=4" alt="Alex">
          <p>
            <a class='social-link' href="https://github.com/alexnakov" target="_blank">
            <img src='images/github.png' height="20">
              Github
            </a>
          </p>
      </div>
      <div class='col-xl-3'>
          <h5>Dan Marshall</h5>
          <p><b><i>Apprenticeship Placement: </i></b><a href='https://www.korukids.co.uk/' target='_blank'>Koru Kids</a></p>
          <img class='about-image' src="https://avatars.githubusercontent.com/u/54847441?v=4" alt="Dan">
          <p>
            <a class='social-link' href="https://github.com/dannehdan" target="_blank">
            <img src='images/github.png' height="20">
              Github
            </a>
          </p>
      </div>
      <div class='col-xl-3'>
          <h5>Parsa Mesgarha</h5>
          <b><i>Apprenticeship Placement: </i></b><a href='https://about.google/' target='_blank'>Google</a>
          <img class='about-image' src="https://avatars.githubusercontent.com/u/76453314?v=4" alt="Parsa">
          <p>
            <a class='social-link' href="https://github.com/pzrsa" target="_blank">
            <img src='images/github.png' height="20">
              Github
            </a>
          </p>
      </div>
      <div class='col-xl-3'>
          <h5>Sasha Putilina</h5>
          <b><i>Apprenticeship Placement: </i></b><a href='https://about.google/' target='_blank'>Google</a>
          <img class='about-image' src="/images/Sasha.jpg" alt="Sasha">
          <p>
            <a class='social-link' href="https://github.com/frontendowl" target="_blank">
            <img src='images/github.png' height="20">
              Github
            </a>
          </p>
      </div>
    </div>
  </section>
</div>
