<div class='container-fluid homepage-container'>
  <div class='row' style='height: 100%'>
    <div class='col-lg-7 title-content'>
      <h1 class='title'>Welcome to SpeedAisle</h1>
      <h3 class='subtitle'>The most efficient way to get your groceries</h3>
      <div class='row'>
        <div class='d-flex justify-content-center homepage-buttons'>
          <button>Sign Up</button>
          <button>Log In</button>
        </div>
      </div>
    </div>
    <div class='col-lg-5 hero-image d-md-block'>
      <img src='images/hero-image.jpg'>
    </div>
  </div>
</div>