@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");

color_palette {
  color: #125c13, #3e7c17, #f4a442, #e8e1d9;
}

/* FULL SITE STYLING */

body {
  padding: 0;
  margin: 0;
  font: 14px "IBM Plex Sans", sans-serif;
  color: #4d5198;
}

h1 {
  font-weight: 700;
  color: #f4a442 !important;
  margin-top: 30px;
}

h2 {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 15px;
}

.title {
  font-size: 3em;
  margin-top: 0px;
}

.subtitle {
  font-style: italic;
  font-size: 1.5em;
}

button {
  border-radius: 5px;
  padding: 10px 30px;

  border-style: none;
  background-color: #3e7c17;
  color: #e8e1d9;
  font-size: 16px;
}

.g-signin2 {
  margin-top: 16px;
  border-radius: 5px;
}
.abcRioButton.abcRioButtonLightBlue {
  background-color: #3e7c17;
  border-radius: 5px;
}

.abcRioButtonContents {
  color: #e8e1d9;
}

hr {
  margin: 20px 0px;
}

.map {
  height: 400px;
  width: 100%;
}

/* NAVBAR */

.navbar {
  padding: 10px;
  background-color: #125c13;
}

.navbar-brand {
  font-family: "IBM Plex Sans", sans-serif;
  color:white!important;
  font-weight: 700;
  font-size: 2em;
  font-style: italic;
}

.navbar a {
  color: white !important;
}

.nav-item {
  font-size: 1.25em;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(232, 225, 217, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* HOMEPAGE */

.homepage-container {
  height: 100vh;
}

.hero-image {
  overflow: hidden;
  position: relative;
}

.hero-image img {
  max-height: 100%;
  position: absolute;
  right: -200px;
}

.title-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage-buttons button {
  margin: 20px 30px;
}

/* LIST */

.list-content {
  height: 80vh;
  overflow: auto;
  background: #fff;
}

.list {
  padding-left: 1em;
}

input[type="checkbox"]:checked + label.strikethrough {
  text-decoration: line-through;
  color: grey;
  font-style: italic;
}

/* Customize the label (the container) */
.checkbox {
  display: block;
  padding-left: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img.trash-can {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.checkbox input {
  top: 0;
  left: 0;
  height: 20px;
  width: 25px;
}

.add-item-form input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.add-btn {
  align-items: center;
  justify-content: center;
}

input[type="submit"] {
  border-radius: 5px;
  padding: 10px 30px;

  border-style: none;
  background-color: #3e7c17;
  color: #e8e1d9;
  font-size: 16px;
  margin: 10px;
}

.list {
  margin-top: 10px;
}
