<h4 class="reorder-title">{{title}}</h1>
<main class="categories-container" id="categories-list">
  {{#each categories}}
    <section class="category-draggable" draggable="true">{{this}}</section>
  {{/each}}
</main>

<script src="../javascripts/ordercategories.js"></script>