<a class='breadcrumb' href="/list">&#8592; Back to list</a>
<div class='container category-list'>
  <div>
    <h2 class="reorder-title">{{title}} &uarr;&darr;</h2>
    <p>
      Drag and drop the categories to rearrange how your shopping list is displayed
    </p>
    <hr>
    <main class="categories-container" id="categories-list">
      {{#each categories}}
        <section class="category-draggable js-category-draggable" draggable="true">{{this.name}}</section>
      {{/each}}
    </main>
  </div>
</div>

<script src="../javascripts/ordercategories.js"></script>